@import "tailwindcss";
/* Tailwind scrollbar customization (cross-browser) */
.scrollbar-thin::-webkit-scrollbar {
  height: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #ef4444;
  border-radius: 10px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #171717;
}
